* {
  margin: 0px;
}

body {
  background-image: url("/WebAI Course/Advanced-Javascript/Workshop/src/img/background1.png");
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #727272;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
  color: black;
}

section {
  display: none;
}

section.active {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

nav a.active {
  color: black;
}

.left-section {
  display: flex;
  align-items: center;
}

.icon {
  width: 50px;
  margin-right: 30px;
}

#statisticsNav {
  margin-right: 10px;
}

#hourlyNav {
  margin-right: 10px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-section input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.right-section button {
  padding: 6px 12px;
  border: 1px solid rgb(45, 129, 255);
  background-color: #ffffff;
  color: rgb(45, 129, 255);
  border-radius: 4px;
}

.right-section button:hover {
  background-color: rgb(0, 57, 143);
  color: white;
}

#statisticsMain h1 {
  font-size: 40px;
}

#statisticsMain p {
  font-size: 20px;
}

#hourlyMain h1 {
  font-size: 40px;
}

#hourlyMain p {
  font-size: 20px;
}

#aboutMain h1 {
  font-size: 40px;
}
