.container {
  width: 650px;
  height: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 30px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20px 20px;
  gap: 12px;
  background: #000000;
}

.box1 {
  background: #e5eeeb;
  grid-column: span 2;
}

.box2 {
  background: #f2e7d5;
  grid-column: span 3;
}

.box3 {
  background: #f2c968;
  grid-column: span 2;
}

.box4 {
  background: #fcfde7;
  grid-row: span 6;
}

.box5 {
  background: #fbfde7;
  grid-row: span 2;
}

.box6 {
  background: #d62d24;
  grid-column: span 4;
  grid-row: span 4;
}

.box7 {
  background: #edcc6b;
  grid-column: span 2;
  grid-row: span 2;
}

.box8 {
  background: #e1eae5;
  grid-row: span 3;
}

.box9 {
  background: #dfe5d0;
  grid-row: span 2;
}

.box10 {
  background: #f2eee2;
  grid-row: span 2;
}

.box11 {
  background: #130409;
  grid-column: span 2;
  grid-row: span 2;
}

.box12 {
  background: #c0bfba;
  grid-column: span 2;
}

.box13 {
  background: #d6dee0;
  grid-column: span 2;
}

.box14 {
  background: #f4c65a;
  grid-row: span 3;
}

.box15 {
  background: #dee2d4;
  grid-column: span 2;
}

.box16 {
  background: #241785;
  grid-column: span 2;
  grid-row: span 2;
}

.box17 {
  background: #d73630;
  grid-row: span 3;
}

.box18 {
  background: #e3ded9;
  grid-column: span 2;
  grid-row: span 2;
}

.box19 {
  background: #0b0205;
  grid-column: span 2;
}

.box20 {
  background: #e0e0df;
  grid-column: span 4;
}
