.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(auto);
  gap: 25px;
}

.item1 {
  grid-column: span 4;
  background-color: #8a2be2;
  padding: 10px;
}

.item2 {
  grid-column: span 2;
  background-color: #a9a9a9;
  padding: 10px;
}

.item3 {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #cb9eed;
  padding: 10px;
}

.item4 {
  grid-column: span 2;
  background-color: #e8e0ef;
  padding: 10px;
}

.item5 {
  grid-column: span 4;
  background-color: #2b2331;
  color: white;
  padding: 10px;
}
