.container {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: 110px 1fr 15px;
  grid-template-rows: 125px 182px 59px 53px;
  gap: 10px;
  background: #4b4038;
  padding: 5px;
}

.box1 {
  background: #fffbe8;
}

.box2 {
  background: #f04a3a;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.box3 {
  background: #fffbe8;
  margin-top: 10px;
}

.box4 {
  background: #4aa0c8;
  grid-row: 3 / 5;
}

.box5 {
  background: #fffbe8;
  grid-row: 3 / 5;
}

.box6 {
  background: #fffbe8;
  margin-bottom: 10px;
}

.box7 {
  background: yellow;
}
